.lead {
  max-width: 984px;
  min-height: 1005px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 48px 0;
}
@media screen and (max-width: 1280px) {
  .lead {
    padding-top: 88px;
  }
}

@media screen and (max-width: 1024px) {
  .lead {
    padding-right: 0;
    padding-left: 0;
  }
}

@media screen and (max-width: 425px) {
  .lead {
    padding-top: 64px;
  }
}
