.header {
  display: flex;
  min-height: 52px;
  padding: 28px 48px 0 48px;
  justify-content: space-between;
  align-items: flex-end;
}
@media screen and (max-width: 1023px) {
  .header {
    padding-right: 26px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding-right: 16px;
    padding-left: 16px;
  }
}
