.header-lang__en_active {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
.header-lang__en_active:hover {
  background-size: 100% 2px;
}
