.header-langs__en {
  color: #fff;
  line-height: 28px;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  text-align: right;
  transition: opacity 0.2s ease-in;
}

.header-langs__en:hover {
  opacity: 0.8;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .header-langs__en {
    font-size: 22px;
    line-height: 26px;
  }
}

@media screen and (max-width: 425px) {
  .header-langs__en {
    font-size: 18px;
  }
}
