.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 88px 48px 24px;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 64px 16px 0;
    flex-direction: column;
    align-items: stretch;
  }
}
