.places__site {
  margin: 0;
  padding: 0;
  align-self: flex-end;
}
@media screen and (max-width: 767px) {
  .places__site {
    padding-top: 73px;
  }
}
@media screen and (max-width: 391px) {
  .places__site {
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 12px;
  }
}
